html, body {
  height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 62.5%;
}

#d_root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
